.features-set {
     @extend %list;
}

.features-item {
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     color: #fff;
     font-size: 32px;
}
// $color: red, orange, blue, green, gold, greenyellow;
// @include colorize($color, ".features-item");