html {
     scroll-behavior: smooth;
}
body {
     font-family: "Roboto", sans-serif;
     /* width: 1600px; */
     letter-spacing: 0.03em;
}
img {
     display: block;
     max-width: 100%;
     height: auto;
}
p,
h1,
h2,
h3,
p,
ul {
     margin: 0;
     padding: 0;
}
ul {
     list-style: none;
     }

img {
     display: block;
     width: 100%;
     height: auto;
}

a:focus,
button {
     outline: none;
}

.container {
     margin: 0 auto;
     padding: 0 15px;
     width: 1200px;
}

.section {
     padding: 94px 0;
}

.section.no-padding {
     padding: 0;
     padding-bottom: 94px;
}

.list {
     list-style: none;
}

.link {
     text-decoration: none;
}
.title {
     margin-bottom: 30px;

     font-weight: 700;
     font-size: 28px;
     line-height: 1.18;
     text-align: center;
     // color:$titleColor;

     @media screen and (min-width: $tablet) {
          margin-bottom: 30px;
     }

     @media screen and (min-width: $desktop) {
          margin-bottom: 50px;

          font-size: 36px;
          line-height: 1.17;
     }
}

.title--hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

body.modal-open {
     overflow: hidden;
}
